@model IEnumerable<Test_coffe.Models.Bills>

@{
    ViewData["Title"] = "Index";
}

@section css{
    <link rel="stylesheet" href="~/AdminLTE-3.0.2/plugins/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="~/css/sweetalert2v8.11.8.css">
    @*<link rel="stylesheet" href="~/css/jquery-ui.min_ace-master.css" />*@
    <link rel="stylesheet" href="~/jquery.jqGrid-4.4.3/css/ui.jqgrid.css">
    <link rel="stylesheet" href="~/css/statistical.css" />
    <link rel="stylesheet" href="~/css/style.css">

}


@*<section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <table id="grid-table"></table>

                                <div id="grid-pager"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@


<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Thống Kê</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Thống Kê</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-3">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Date picker</h3>
                </div>
                <div class="card-body">
                    <!-- Date range -->
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="far fa-calendar-alt"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control float-right datePicker" id="datePicker">
                            <button class="text-muted" id="datePickerBtn">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                        <!-- /.input group -->
                    </div>
                    <!-- /.form group -->
                </div>
                <!-- /.card-body -->
            </div>
        </div>

        <div class="col-4">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Month Year picker</h3>
                </div>
                <div class="card-body">
                    <!-- Date range -->
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <div class="input-group">
                                    <select id="monthPicker" class="form-control float-right">
                                        <option value="0">Tháng</option>
                                        @for (var i = 1; i < 13; i++)
                                        {
                                            <option value="@i">@i</option>
                                        }
                                    </select>
                                </div>
                                <!-- /.input group -->
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="form-group">
                                <div class="input-group">
                                    <select id="yearPicker" class="form-control float-right">
                                        <option value="0">Năm</option>
                                        @{
                                            var yearNow = @DateTime.Now.Year;
                                        }
                                        @for (var i = 2019; i <= @yearNow; i++)
                                        {
                                            <option value="@i">@i</option>
                                        }
                                    </select>
                                    <button class="text-muted" style="padding: 7px" id="monthYearBtn">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                                <!-- /.input group -->
                            </div>
                        </div>
                    </div>

                    <!-- /.form group -->
                </div>
                <!-- /.card-body -->
            </div>
        </div>

        <div class="col-5">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Date range</h3>
                </div>
                <div class="card-body">
                    <!-- Date range -->
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="far fa-calendar-alt"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control float-right dateRangeLeft" id="dateRangeLeft">
                                </div>
                                <!-- /.input group -->
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="far fa-calendar-alt"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control float-right dateRangeRight" id="dateRangeRight">
                                    <button class="text-muted" style="padding: 7px" id="dateRangeBtn">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                                <!-- /.input group -->
                            </div>
                        </div>
                    </div>
                    <!-- /.form group -->
                </div>
                <!-- /.card-body -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Hóa đơn</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body" id="gridTb">
                    <div class="row">
                        <div class="col-12">
                            <!-- PAGE CONTENT BEGINS -->
                            <table id="grid-table"></table>

                            <div id="grid-pager"></div>

                            <!-- PAGE CONTENT ENDS -->
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->


@section scripts{
    @*<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>*@
    <script type="text/javascript" src="~/js/axios.min.js"></script>
    <script src="~/AdminLTE-3.0.2/plugins/moment/moment.min.js"></script>
    <script src="~/AdminLTE-3.0.2/plugins/daterangepicker/daterangepicker.js"></script>
    <script type="text/javascript" src="~/js/sweetalert2@9.js"></script>
    <script type="text/javascript" src="~/js/lib.js"></script>
    <script type="text/javascript">
       var GetBillDetail = "@Url.Action("GetBillDetail2", "BillDetailsAPI")";
       var GetBill = "@Url.Action("GetBillByTable", "BillsAPI")";
    </script>
    <script src="~/js/jquery.jqGrid.min_ace-master.js"></script>
    <script src="~/jquery.jqGrid-4.4.3/js/grid.locale-vi.js"></script>
    <script src="~/js/statistical.js"></script>
}
